<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnection" connectionString="TODO:Change this" />
  </connectionStrings>
  <appSettings>
    <add key="Containers" value="container1|container2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>